$responsiveNav: 1000px;

nav {
    background-color: transparent;

    a {
        margin: 0 50px;
        color: white;
        font-size: 24px;
        text-decoration: none;
    }
}

button {
    padding: 0;
    border: none;
    background: none;
}

@media (max-width: $responsiveNav) {
    nav {
        display: none;    
    }
}

@media (max-width: $responsiveNav) {
    .nav {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 60px;
        background-color: darkgray;
        opacity: 0.9;
        
        a {
            margin: 10px 0;
            width: 100vw;
            text-align: center;
            color: white;
        }
    }
}

.logo {
    margin: 0 30px;
}

.top {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    color: white;
    font-size: 40px;
    display: none;
    margin: 0 30px;
}

@media (max-width: $responsiveNav) {
    .hamburger {
        display: inline;
    }
}